body{
   overflow-x: hidden !important;
}


.nav-sub{
    margin-left: 50px;
    text-transform: capitalize !important;
    font-weight: bold;
    margin-top: 1%;
}

.nav-form{
    margin-left: 40%;
}

.navbar-brand{
    margin-left: 10%;
    margin-top: -2%;
}

.red{
    color: red;
}

nav{
    background-color: #FDFFFC;
    height: 70px;
}

.about-us{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    line-height: 41px;
    margin-top: 5%;
    color: #1B264B;
}

.p-text{
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
    color: #3C3737;
    line-height: 28px;
    font-size: 16px;
    
}

.what-we-do-cards{
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 8%;
}

.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.opa{
    font-size: 16px;
    line-height: 28px;
    color: #1B264B;
    text-align: center;
}

.opa-text{
    font-size: 16px;
    text-align: center;
    letter-spacing: 2%;
}

.decks{
    padding-left: 10%;
    padding-right: 10%;
}

.card-one{
    border: none !important;
}

.card-title{
    font-size: 20px;
}

.card-sub{
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.08);
    border: none;
}

.main-text{
    font-size: 12px;
    color: #1991EB;
}

.sub-text{
    color: #727272;
    font-size: 16px;
    text-align: center;
}

.card-body{
    
    border: none !important;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.1);
}

.card-text{
    text-align: left;
}

.approach{
    background-color:#202124;
    height: 650px;
    margin-bottom: 20%;
}
.bapp{
    color: #ffffff;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    line-height: 41px;
    padding-top: 3%;
    margin-top: 5% !important;

}

.p-approach{
    text-align: center;
    padding-right: 20%;
    padding-left: 20%;
    color: #ffffff;
    line-height: 28px;
    font-size: 16px;
    padding-top: 13px;
}

.app-h{
    color: #ffffff;
    font-weight: bold;
    font-size: 19px;
    text-align: left;
}

.app-text{
    font-size: 15px;
    line-height: 25px;
    color: #aaaaaa;
    text-align: justify;
}

.app-pad{
    padding-right: 10%;
    padding-left: 10%;
    margin-top: 5%;
}

footer{
    background-color: #202124;
    color: #FDFFFC;
}

.h1-responsive{
    font-size: 70px;
}

.orange-text{
    margin-top: 7%;
    font-size: 40px;
    font-weight: bold;
    float: left;
    text-align: justify;
    margin-left: 10%;
    line-height: 60px;
}

.orange-text-sub{
    margin-top: 2%;
    font-size: 20px;
    text-align: justify;
    float: left;
    margin-left: 8% !important;
    padding-right: 30% !important;
}

.card-image{
    width: 100%;
  height: 600px;

}
.SA{
    font-weight: bold;
    color: #EADEDA;
}

.add{
    font-size: 13px;

}
.direction{
    margin-top: 14% !important;
}

/* Slider */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

@media only screen and (max-width: 600px) and (min-width: 400px) {
    .navbar-brand{
        margin-left: -2% !important;
    }
} 